.trail {
  position: absolute;
  top: 80px;
  border-radius: 100%;
  pointer-events: none;
  z-index: 2;
  opacity: 90%;
  visibility: hidden;
  box-shadow: 0 0 8px cornflowerblue;
}
#c1 {
  background-color: cornflowerblue;
  left: 20px;
  width: 25px;
  height: 25px;
  margin: 16px 0 0 16px;
  transition-duration: 50ms;
}
#c2 {
  background-color: rgb(105, 31, 174);
  left: 44px;
  width: 20px;
  height: 20px;
  margin: 18px 0 0 18px;
  transition-duration: 80ms;
}
#c3 {
  background-color: cornflowerblue;
  left: 66px;
  width: 15px;
  height: 15px;
  margin: 20px 0 0 20px;
  transition-duration: 110ms;
}